body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(231, 231, 231);
    margin: auto;
    padding: auto;
}
h1 {
    text-align: center;
    color: black;
    margin-bottom: 35px;
}
th, td {
    border: 1px solid rgb(213, 213, 213);
    padding: 10px;
    text-align: left;
}

.tekbosslogo {
    width: 450px;
    height: 100px;
}

.contenido-principal {
    width: 85%;
    max-width: 850px;
    margin: 50px auto;
    padding: 25px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 10px 0 rgb(175, 175, 175);
    text-align: center;
}
.contenido-seccion {
    margin-bottom: 30px;
}

.tabla-empresa th {
    background-color: #5c95ff;
    color: black;
    text-align: center;
    font-size: larger;
}
.tabla-empresa {
    width: 100%;
    border-collapse: collapse;
    background-color: #f6f8ff;
    color: black;
}

.tabla-cliente th {
    background-color: #75ff43;
    color: black;
    text-align: center;
    font-size: larger;
}
.tabla-cliente {
    width: 100%;
    border-collapse: collapse;
    background-color: #f5fff0;
    color: black;
}

.tabla-productos th {
    background-color: #fdff9b;
    color: black;
    text-align: center;
    font-size: larger;
}
.tabla-productos {
    width: 100%;
    border-collapse: collapse;
    background-color: #feffee;
    color: black;
}

.tabla-información th {
    background-color: #ffb637;
    color: black;
    text-align: center;
    font-size: larger;
}
.tabla-información {
    width: 100%;
    border-collapse: collapse;
    background-color: #fffaea;
    color: black;
}