body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(231, 231, 231);
    margin: auto;
    padding: auto;
}
h1 {
    text-align: center;
    color: black;
    margin-bottom: 35px;
}
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}
.contenido-principal {
    width: 85%;
    max-width: 850px;
    margin: 50px auto;
    padding: 25px;
    background-color: white;
    border-radius: 8px;
}
.contenido-seccion {
    margin-bottom: 30px;
}

.tabla-empresa th {
    background-color: #c082ff;
    color: black;
    text-align: center;
    font-size: larger;
}
.tabla-empresa {
    width: 100%;
    border-collapse: collapse;
    background-color: #f9eafe;
    color: black;
}

.tabla-cliente th {
    background-color: #ffdd43;
    color: black;
    text-align: center;
    font-size: larger;
}
.tabla-cliente {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff9de;
    color: black;
}

.tabla-productos th {
    background-color: #ff6c37;
    color: black;
    text-align: center;
    font-size: larger;
}
.tabla-productos {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffe9de;
    color: black;
}